:root {
    --back-cl:#FFFFFF;
    --text-cl:#4d5ae5;
    --logo-span:#2e2f42;
    --hover-cl: #404bbf;
    --contact-cl: #434455;
    --back-btn-cl: #f4f4fd;

}

.btn-all {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-cl);
    background-color: var(--back-btn-cl);
    cursor: pointer;
    
}
.images-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-span);
}
.images-dev {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-cl);
}
.btn-all:hover, .btn-all:focus{
    color: var(--back-cl);
    background-color: var(--hover-cl);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--contact-cl);
    background-color: var(--back-cl);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--text-cl);  
    margin-right: 76px;
    
}
.link {
    text-decoration: none;
}
.studio {
    color: var(--logo-span);
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-span);
}
.menu-link:hover,
.menu-link:focus{
color: var(--hover-cl);

}
.contact {
    font-style: normal;
}
.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-cl);
}
.contact-link:hover, .contact-link:focus{
    color: var(--hover-cl);
}
.first-s {
    background-color: var(--logo-span);
}
.sectionh {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--back-cl);
    width: 496px;
    margin-bottom: 48px;
}
.btn-order {
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--back-cl);
    cursor: pointer;
    min-width: 169px;
    min-height: 56px;
    border-radius: 4px;
}
.btn-order:hover, .btn-order:focus {
    color: var(--back-cl);
    background-color: var(--hover-cl);
    
}
.sectionhh{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sectionhhh {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-span);
}
.info-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-cl);
    width: 264px;
}
.secthh {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-span);
   margin-bottom: 72px;
}
.sectionteam {
    background-color:var(--back-btn-cl);
}
.team-back {
    background-color: #FFFFFF;
    text-align: center;
}
.end {
    background-color: var(--logo-span);
}
.st-footer {
    color: var(--back-btn-cl);
}
.footend {
    font-family: 'Roboto' ,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--back-btn-cl);
        width: 264px;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.header-container {
    display: flex;
    
   
}
header {
    border-bottom: 1px solid #ECECEC;
}
.header-nav {
    display: flex;
    margin-right: auto;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.section-order {
    padding-top: 188px;
    padding-bottom: 188px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.order-container {
    margin-left: auto;
    margin-right: auto;
}
.section-info {
    display: flex;
    gap: 24px;
}
.sectoin-what{
    padding-top: 0;
}
.whatarewedoing {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
}
.section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
   
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
}
.btnflex {
    
    display: flex;
    gap: 24px;
    justify-content: center;
    
   
    
}

.imgdev {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 24px;
    padding-top: 72px;
    padding-bottom: 120px;
    
}
.section-all-btn {
    padding-top: 96px;
}